[2015-06-22 20:49] tapnair opened #1 "Header Comments"
Hey the comments in the header in this version aren't all there.  Some lines left un commented.

[2015-06-23 01:28] caseycrogers commented on #1
I did not comment some functions/classes (the run and stop functions and anything defined inside of them) as those are just specifics to creating a Fusion 360 add-in. Tutorials for these functions (which I largely just copy and pasted from for that part of my code) can be found here under programming interface:
http://fusion360.autodesk.com/resources
However, as of posting this, the links to all t

[2015-06-23 02:11] tapnair commented on #1
Sorry I just meant some of the lines at the top of your script don't have comment characters on them.  SO it doesn't run for me at first download.

[2015-06-23 02:24] caseycrogers commented on #1
Huh that's really weird, which lines? If I click on Dogbone.py and view it from my browser all the lines appear properly commented.

[2015-06-23 02:32] tapnair commented on #1
Maybe I just fat fingered it somehow?

-Patrick

On Jun 22, 2015, at 10:24 PM, caseycrogers notifications@github.com wrote:

Huh that's really weird, which lines? If I click on Dogbone.py and view it from my browser all the lines appear properly commented.

—
Reply to this email directly or view it on GitHub.

[2015-06-23 03:35] caseycrogers commented on #1
I did at one point have a version of the code that was missing some comments somewhere in the first few lines, but I quickly pushed a fixed version. Maybe you grabbed it before I updated it.

[2015-06-23 05:47] caseycrogers commented on #1
Huh so when I cloned your fork I got the same missing comment #'s that you were getting. I think it's originating from the fact that, for my description, I rather sloppily just edited the .manifest file after the fact to make a multi-line description. It seems like every time someone loads the Add-In into Fusion Fusion copies the description and pastes it to the beginning of the file, forgetting t

[2015-11-17 16:43] kroskam opened #5 "Installation Problem"
I have installed the add in to Fusion 360, and it shows up in my add in pulldown in Fusion 360 but I do not have the icon in my create menu or the create pulldown. It shows that it is running, but I am unable to use it.
Here is the directory that I have it installed in:
C:\users\kevin\appdata\roaming\autodesk\Autodesk Fusion 360\Api\Addins

[2016-01-05 06:03] sprior opened #6 "I don't think this handles acute angles correctly"
Draw a sketch with an inside feature that includes line segments that form an acute angle, maybe 30 degrees.  Then extrude and dogbone it.  It looks to me like the router bit still won't be able to cut the corner.
![untitled](https://cloud.githubusercontent.com/assets/3361800/12108635/f7b39db6-b347-11e5-8462-9e4881a17830.png)

[2016-01-05 06:38] caseycrogers commented on #6
Yeah so unfortunately it doesn't quite handle that right. It'd need to lines tangent to the circle leaving and connecting to the edge. I left that out because I was concerned about the stability of Fusion 360's constraint solver-the two lines might blow up and wobble all over the place and cause problems when moving the dogbones.

I don't do much milling my self, but I think most CAM tools will ju

[2016-01-05 06:43] Helmi commented on #6
I do use dogbone fillets quite often and can't imagine a situation where i would need them for other angles than 90deg - probably that's just me.

A good way to handle these would then be to ignore other angles completely to not accidentally get these stuff done when doing a complete part. But maybe we'll soon hear a reason why dogbones would be needed on other angles, too.

[2016-01-05 06:50] Helmi opened #7 "Parametric integration"
I don't know much about the Fusion360 API but would it be possible to get the Dogbone fillets done in a more parametrical way to be able to change the size of the fillets later when you for example change your mind and use another tool size?

[2016-01-05 08:35] caseycrogers commented on #7
Hey Helmi,
There's definitely a way to do that! It's not really practically implementable from within the API because once the Dogbone Fillets are created my Add-in stops running and loses all control.

However, if you create some user variables from the user parameters tool (found in the modify section) you can name two parameters, one for the tool diameter and one for the offset (say "toolDiam"

[2016-01-05 09:02] Helmi commented on #7
oh that is good to know - thanks.

[2016-01-05 16:03] sprior commented on #6
Admittedly I was just trying out the code so I did that little squiggle and tried to dogbone it.  I've been using Fusion for 3D printing and just got started in CNC, so I'm not sure of usecases yet, but it would seem to make sense to me that if you needed to make a hole to fit a tenon that it's possible the tenon could have non-right angles.  The first thing I'd suggest is that any features that c

[2016-01-05 18:04] caseycrogers commented on #7
No problem, let me know if you have any other questions or comments!

[2016-01-26 03:23] mipena opened #8 "Dogbone fillet not created when selecting body"
Using the commit 7e363bb doesn't work for me when selecting whole bodies, but does work when selecting edges. No error is displayed when performed on a body.

[2016-01-29 13:09] Lander008 commented on #5
I have the same issue... i created a folder inside the AddIns folder named dogbone with both files in it - was able to run it from the dropdown menu in fusion and check run on startup, but it never appeared in the list of create functions, and has the circle (pending status?) next ot it.
would be happy if anyone could report if the addin has been working with recent updates of fusion...
(i also ge

[2016-01-29 19:27] caseycrogers commented on #5
Hello Lander, it sounds like the add-in is having trouble finding some of the files it needs to run.

First, remove the exiting dogbone fold you created. Then, from the github "code" tab, click "download as zip". Open the downloaded zip file and extract its contents to your add-ins folder. This should fix the problem, let me know if it doesn't!

[2016-01-30 13:57] kroskam commented on #5
I fixed it by uninstalling and then reinstalling. 

[code]

 I have the same issue... i created a folder inside the AddIns folder named dogbone with both files in it - was able to run it from the dropdown menu in fusion and check run on startup, but it never appeared in the list of create functions, and has the circle (pending status?) next ot it.
would be happy if anyone could report if the addin

[2016-01-30 15:02] Helmi commented on #8
Same for me. Sometimes nothing happens, sometimes i get an error that "no target body found to cut or intersect" even though i had a body selected with quite some inner 90° angles.

[2016-01-30 23:57] caseycrogers commented on #8
Do you have your Fusion preferences set to "y-up" (the default)? At the moment I believe using y-up with dogbone causes problems. I'll push a modification that adds a toggle button in the interface to set y-up or z-up.

As a separate note, I strongly recommend you change your preferences to z-up. It's a far more prevalent standard than y-up (the entire additive manufacturing industry and vast majo

[2016-01-31 07:47] caseycrogers commented on #8
I just pushed an update that supports y-up designs. Try downloading the latest version of Dogbone.py from github and replacing your existing copy of Dogbone.py with it. The new tool should have a "y-up" checkbox. Try turning the "y-up" checkbox on and tell me if that makes the dogbone fillets appear as you expect them to. Let me know if it fixes your problem!

I'm happy to support the default y-up

[2016-01-31 07:47] #1 closed

[2016-01-31 07:47] #7 closed

[2016-01-31 07:50] Helmi commented on #8
I have never used Y up - so sorry, this couldn't be the reason for these errors. Y-up was the actual only default back in the days but as soon as they introduced Z-up I was happy enough not having to hack every design by rotating and resetting the home position.

So everything Z-up here.

[2016-01-31 07:52] caseycrogers commented on #8
Glad to hear you're not using y-up.

If that's the case can you send me some screenshots of the inputs that are failing so I can try to replicate them and debug the problem?

Or better yet send me the .f3d file of the design that's failing?

[2016-01-31 07:54] Helmi commented on #8
I'll try to pull out the version of my (rather big) assembly that caused the problem and see if i can just copy out that body to a new file for better research. I'll link it here as soon as I got it working.

[2016-01-31 07:56] caseycrogers commented on #8
Thanks for helping me debug! I'd also love to see some renders of what you're working on, if you don't mind me sharing it on Twitter as an example of what my add-in is being used for (with proper attribution of course).

[2016-01-31 08:36] mipena commented on #8
Hey Casey, thanks for addressing the problems we've been having. I first tried changing the preference to Z-up (I'm pretty new to this, so I didn't know about this option). I again had the same issue, selecting individual edges works, but not selecting the object. I then updated to the newest version of Dogbone and tried selecting the Y-up box with Y-up as the preferential modeling orientation as

[2016-01-31 08:37] caseycrogers commented on #8
Go ahead and e-mail the file to me at caseycrogers@berkeley.edu.

[2016-01-31 12:20] rodgah opened #9 "Dogbone on a component"
Hi,
If I create a new component and then a sketch - > body within that component then try to use your tool it behaves odd. For a very simple shape if I select the body it will perform the dogbone on the first internal corner but then fail (Failed : 3 : object is invalid ..... followed by error in dogbone creation). If I go back and reselect that failed corner by itself and dogbone just the interio

[2016-01-31 15:47] coreykovacs commented on #9
I am seeing the same behavior. This is the first time I've tried to use it and i think it's installed correctly. Is there a specific version of python required? I have 3.3.4 installed, F360 v 2.0.1876 free version. Beyond that, thanks for writing this addin, it will be very useful once I can get it working. I have the version pushed this morning with the y-up addition

[2016-01-31 19:51] caseycrogers commented on #9
Hello, I just recently updated the code, perhaps I introduced a bug by accident. Can you two send me some screenshots of the geometry and the failures so I can replicate it and find the source of the problem? Alternatively, can you e-mail me the .f3d files of the designs that are failing (caseycrogers@berkeley.edu)?I'm sorry you're having issues with the add-in.

@coreykovacs the versions shouldn'

[2016-01-31 20:03] coreykovacs commented on #9
The geometry for the constraint error was a very simple square in a square, extruded. I tried to apply the dogbones to the internal corners, no joy. I'll send you the archive from my project. I'm not complaining about the problems at all, I know how useful this is when it's working, I just wan to help you debug. I'll send the archive to you direct.

[2016-01-31 20:10] Helmi commented on #9
here we go - just copied one out of my current project http://a360.co/1nGw78i

[2016-01-31 20:36] caseycrogers commented on #9
Hey guys, I cannot seem to replicate the "Sketch geometry over constrained" issue. After some quick testing, it's pretty clear that the "Failed 3 error" only occurs when applying the add-in to a body that is a part of a non-root component. I'll look into this and see why this is happening, but for now the add-in won't be able to support dog-bones on bodies in components. I'm not sure if this is a

[2016-01-31 20:41] caseycrogers commented on #9
So I have traced the "Failed 3" error to the API's sweep tool support-it does not appear to be working properly on components. I'll post on the Fusion API forum about it and see what the issue is but this seems like a Fusion bug so we might have to wait until the next Fusion update to get support for Dogboning components back.

[2016-01-31 20:59] caseycrogers commented on #9
So I was able to write a quick workaround for the problem, however there's no longer any good error handling for when you try to apply a dogbone to impossible geometry and the sweep fails.

All the same, I tested the workaround on both of the designs you guys sent me and it seems to be working. The latest copy is up on github, go ahead and download it and replace your current version and the probl

[2016-01-31 21:01] coreykovacs commented on #9
That's fantastic you see, I'll try it out as soon as I get home. Thank you
so much for all your hard work on this project
On Jan 31, 2016 1:59 PM, "caseycrogers" notifications@github.com wrote:

[2016-01-31 21:46] rodgah commented on #9
wow quick response. Don't get me wrong....this is an amazing tool! I tried the new version and it now works on components, though it shows the same over constrained behaviour in either component or root body. Ive only just started learning fusion so my version is really new. This issue did exist however before your previous update since I originally downloaded it 5 days ago.
Thank you for your hel

[2016-01-31 23:18] coreykovacs commented on #9
I agree, the turn around is amazing, thanks.  I got home and tested the update. Interestingly, when I picked an entire panel, it worked, sort of. What ended up getting the dogbones, was the "bottom". Turns out for some reason my project is "y-up" which is something I thought I changed before creating this thing. Now it works as expected, with one added "feature", which could be caused by something

[2016-01-31 23:21] coreykovacs commented on #9
More...  When it moves things around (I have multiple panels ) what ended up happening was the overlap caused holes to be placed onto parts in locations that did not need them. I'll send you a couple of screen shots.

[2016-01-31 23:35] coreykovacs commented on #9
Casey, if you look below, you'll see what i was trying to explain.

The first picture, is the original layout.
Second picture is after the first attempt. it scrambled everything up and
the panel I selected by luck ended up by itself so no corruption of the
other panels. The third shot, is what happened when I selected a panl which
was mixed in. Come to think about, this is probably predictable. So

[2016-01-31 23:41] coreykovacs commented on #9
More...  When it moves things around (I have multiple panels ) what ended up happening was the overlap caused holes to be placed onto parts in locations that did not need them. I'll send you a couple of screen shots.
![before](https://cloud.githubusercontent.com/assets/16987784/12706037/0c1dab0e-c831-11e5-82ad-c9399223ce6a.PNG)

![after-1](https://cloud.githubusercontent.com/assets/16987784/127060

[2016-02-01 00:25] caseycrogers commented on #9
Hey Corey, in the far right of the fusion tool bar click "take snapshot". That should keep the panels from moving.

[2016-02-01 00:28] coreykovacs commented on #9
Thanks will do!

Corey
On Jan 31, 2016 5:25 PM, "caseycrogers" notifications@github.com wrote:

[2016-02-01 02:13] coreykovacs commented on #9
That did the trick, thanks!

[2016-02-01 20:53] Helmi commented on #9
sorry, did find the time for testing today, thanks for your great and quick response anyhow. Will test as soon as i get to it.

[2016-02-01 21:05] rodgah commented on #9
Hi Helmi can you try the file I attached above to see if you get the same over constrained error please.

[2016-02-01 21:13] caseycrogers commented on #9
Hey @rodgah I'll download your design later today and see if I can figure out what's going wrong.

[2016-02-01 21:28] rodgah commented on #9
Hey Casey, thanks in your own time no rush. I was just interested to see if my issue wasn't isolated to just me.

[2016-02-01 23:44] #5 closed

[2016-02-01 23:46] caseycrogers commented on #9
@rodgah So I downloaded your design and did get the failure. The conditions under which it fails seem pretty arbitrary and I can't really figure out what's going on, so I posted on the Fusion 360 forum about it, I'll keep you updated.

[2016-02-02 07:24] Helmi commented on #9
@caseycrogers looks like it's working - great, thanks.

Is there any way to make the addin more "talky"? At first i thought it's not working until i noticed it's still running in the background and it needs its time. I don't know about the possibilities with the API but if there's any chance to keep the window open where you enter your values and indicate the script is still running that would be

[2016-02-02 07:47] caseycrogers commented on #9
In my most recent update I made it display each dogbone as it's created (before it finished all the dogbones and then displayed the results). This hopefully makes it a little bit more clear that the add-in is working.

Additionally, in the bottom right corner, there's a green bar that shows the progress on each individual task the add-in is completing. If you see the green bar flashing and moving

[2016-02-02 10:18] Lander008 opened #10 "installation"
i have extracted the dogbone-master folder to the ...API>AddIns folder and now i can´t see Dogbone in the addin tab inside the program (Fusion360).

[2016-02-02 11:00] Lander008 commented on #10
renaming the folder "dogbone-master" to "dogbone" AND restarting my pc seems to have worked... (no idea whether it was the name or restarting that did it...) So, did some first overcuts and it works really good. Thanks!  i hope these addins will grow plentyfull :)

[2016-02-06 20:32] #10 closed

[2016-02-06 20:33] caseycrogers commented on #9
@rodgah So I was able to narrow down the issue to a small bug in the Fusion symmetry constraint API and used a quick work around. The problem should now be fixed, go ahead and download the latest version of dogbone.py and tell me if you still have any trouble!

[2016-02-06 20:34] caseycrogers commented on #8
@mipena Hey, sorry for the delay. I suspect your bug is related to one of the other reported issues for the API which I just fixed, can you try downloading the latest version of dogbone.py from github and replacing your current copy? Let me know if that fixes the problem.

[2016-02-07 00:45] mipena commented on #8
I replaced the old Dogbone.py with the new version, and when I run the new version of Dogbone no new icons pop up in the toolbar. I was just supposed to replace the old file, correct?

[2016-02-07 02:13] caseycrogers commented on #8
Yeah, just copy and paste the dogbone.py file and replace it. You shouldn't see any new icons. Once you've replaced the old dogbone, just go to scripts and add-ins, select dogbone, tell it to run. Find the dogbone icon under create and try it.

If the dogbone icon is no longer showing up with the latest version then that's a different problem.

[2016-02-09 06:33] rodgah commented on #9
@caseycrogers I tried re downloading but it didn't change.....then I noticed the file hasn't been updated did you commit?

[2016-02-24 01:51] PHermans1 commented on #9
How to use this add-in?
I am new to Fushion 360 and downloaded this add-in, placed it in the appropriate folder. When I restarted it appears in add-in dialog and on menu bar. I tried using it, and get a dialog with several options that are not explained anywhere (that I can see) and when I pick my component and click OK, nothing appears to happen.  Not sure why not etc, or if there is any where I

[2016-02-26 19:58] rodgah commented on #9
@PHermans1 https://www.youtube.com/watch?v=EM13Dz4Mqnc pretty much says it all

[2016-04-03 22:59] eraser3000 opened #11 "I get this error when running script from F360"
![error](https://cloud.githubusercontent.com/assets/8743378/14235499/5c326a5e-f9bd-11e5-93b7-e17aed82e473.png)

[2016-04-03 23:19] caseycrogers commented on #11
Hello eraser,

Did you download the entire zip file from github? If you copy just dogbone.py you will get this error. If you did download as zip and then extract all the contents, then something else is going wrong. If that's the case let me know and I'll try to figure it out.

[2016-04-03 23:29] eraser3000 commented on #11
Thanks, no I did not download the full Zip, Thanks for the tip I will give it a whirl.

[2016-04-03 23:32] eraser3000 commented on #11
works good now, sorry I have a lot to learn :) :+1:

[2016-04-09 14:23] se7en9057 commented on #8
sad to say mine isn't working either. not sure what i'm doing wrong. not getting any errors tho. perhaps user error.

not using Yup
newest version of fusion
i downloaded the latest version, removed the py from my scripts inside fustion, then clicked plus, and added the version. i get the icon. but it doesnt work when selecting bodies or edges. object orientation is "top" or Z up facing

[2016-05-14 01:20] tbbooher opened #12 "can't get it to work on fusion 360 version 2.0.2016"
the dogbones never create. can anyone duplicate?

[2016-05-15 09:36] tbbooher commented on #12
I started looking at the code, but haven't been able to troubleshoot it yet. I have made this video, to show what I'm seeing.

https://knowledge.autodesk.com/community/screencast/87c5cbcb-bf33-420e-885a-c4bf7d714b2d

[2016-05-15 13:51] BeauTurner commented on #12
I am able to duplicate the issue you showed only when having the inside cutout with a fillet on the corners. Temporary workaround, remove the inside cutout, run dogbone then add the inside cutout as a cut operation.
<img width="534" alt="screen shot 2016-05-15 at 9 50 37 am" src="https://cloud.githubusercontent.com/assets/1288735/15274549/911b9674-1a82-11e6-8759-f9153ee7435c.png">

[2016-05-17 01:54] tbbooher commented on #12
Will try -- I would like to get the plugin working in debug mode so i can troubleshoot this and help contribute. Any tips on that?

[2016-05-17 02:04] tbbooher commented on #12
any tips on how to remove the inside cut out -- i can do it, but it is a long and difficult process

[2016-05-17 13:50] tbbooher commented on #12
Actually, I removed the void and the error persisted.Still don't have an error, just the options disappear. At this, point, I'm thinking of writing a more basic script that only works on a segment, or just manually adding the dogbones.

[2016-05-17 16:30] BeauTurner commented on #12
Can you start simple. Sketch the same outside shape as you have now. Run
the Dogbone script. Does it work?  If so then edit the sketch (or create a
new one) and add your inside, then extrude and cut into your shape you have
with the dogbones placed.

-Beau

On Tue, May 17, 2016 at 9:50 AM, Tim Booher notifications@github.com
wrote:

##

-b

[2016-05-17 17:40] caseycrogers commented on #12
Hey guys, I'm sorry dogbone is giving you trouble. I can take a look at the add-in in a couple hours and see if I can figure out what's going on.

Typically when the options disappear it's because the dogbone failed to exit properly. Can you send me a .f3d file of the part giving you trouble? You can post it here or e-mail it to me at caseycrogers@berkeley.edu.

[2016-05-18 18:43] caseycrogers commented on #12
The issue appears to be that the add-in is trying to make dogbones at the edges of the fillet. I'm working on a fix for it now, however in the mean time you can use the dogbone add-in to select specific edges (and not the whole body) to manually choose which edges to apply the fillet to.

[2016-05-30 02:09] tbbooher commented on #12
hmm. . . manually picking edges doesn't work for me. I'm happy to try another approach or help troubleshoot.

[2016-06-04 09:13] merlinmac opened #13 "Failed : 5 : Sketch geometry is over constrained"
Hello Casey,
first of all must say thank you for writing this. I am just starting to learn Fusion 360 and so far getting the hang of it. I seem to be getting the same error whenever I try and create dogbones in squares. I have made a file that I can use to create any sized boxes I want and then I can add what cutouts I need for electronics etc, but then for some reason the dogbone fails on these i

[2016-06-08 18:12] iceboundflame opened #14 "Unusably slow"
I tried using this on a moderately complex design with maybe 30-40 components, 400 dogbone fillets to create. It doesn't complete and slows down the timeline immensely until it crashes.

For the simple/common case of making dogbones for flat-pack parts, would it work better to simply make a single sketch for all the edges in the same component (or maybe even multiple components), and do one extrud

[2016-06-09 08:49] iceboundflame commented on #14
Fixed in: https://github.com/caseycrogers/Dogbone/pull/15/

[2016-06-09 08:49] #14 closed

[2016-06-11 10:40] caseycrogers commented on #14
Hello Iceboundflame.

These are some really awesome and major improvements/refactors! I haven't
really been working much on this project for a while so I'm glad to see you
putting a lot into it!

A lot of the decisions I made previously (sweeps instead of extrudes, one
sketch for each dogbone) were a combination of simplicity to code and
versatility (ie a dogbone fillet on an edge not perpendicula

[2016-06-14 12:05] tbbooher opened #16 "New dogbone doesn't work on initiation"
When I try to run it, I get:

[code]

I'm using fusion 360 2.0.2088 on Windows 10.

Happy to email the file as needed.

You can download my model from this forum link: https://forums.autodesk.com/t5/design-validate-document/can-t-change-appearance/td-p/6382182

[2016-06-17 10:50] tbbooher commented on #16
@caseycrogers would you like me to do some more work on this? Your plugin is critical to getting inside corners to work. If you are working it, let me know, otherwise, I'll try and carve out some time this weekend to fix.

[2016-06-17 11:20] caseycrogers commented on #16
Hello booher,  I'm sorry I can't be of more help but I'm on vacation this month.

If you want to have a go at it I'd definitely appreciate it and I'll be happy to merge your work with the main branch.

[2016-06-17 12:52] tbbooher commented on #16
got it -- thanks

On Fri, Jun 17, 2016 at 7:20 AM, caseycrogers notifications@github.com
wrote:

##

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Tim Booher
www.theboohers.org | tim@theboohers.org
703.649.4264 (home)
(703) 822-7863 (mobile)

[2016-06-19 14:55] zebrassimo commented on #11
![1](https://cloud.githubusercontent.com/assets/20027464/16178032/7792a44a-363e-11e6-9228-d70b8ea8a990.PNG)

Having the same issue. The dogbone zip was completely unzipped into the apps folder. After running the script, the icon showed. When clicking on the icon, this messagebox appeared. Clicking ok showed the dialog window but it's not working.

[2016-06-20 06:57] hekav opened #17 "Traceback"
Running app on Fusoin 360 Version 2.0.2088 on mac El capitan i get
the following: ???
![dogbone](https://cloud.githubusercontent.com/assets/12659936/16185541/dbdf179a-36c4-11e6-9ad8-3ddb5a5873f0.png)

Whats wrong

[2016-06-27 21:54] yuvalrakavy commented on #17
The problem is in line 28 where self.circStr is initialized to "cutter". If you have no parameter with this name in your design, you will get an error. I fixed it by setting:

 self.circStr = "0"

Another change that I did (and recommend) is to add after line 197:
   sketch.name = "Dogbone"

So it will be easy to know that the sketch was generated by Dogbone...

 Yuval

[2016-06-29 01:53] MrZinn commented on #11
Casey--I am getting the same error script.  What folder do I unzip the files to?  Here is where I have it now:

C:\Users\MrZin\AppData\Local\Autodesk\webdeploy\production\00acb530044182955dd92b716af43e78c7229309\Api\InternalAddins\Dogbone-master

MrZinn

[2016-07-17 15:30] yeowooh opened #18 "How to solve traceback issue"
![untitled](https://cloud.githubusercontent.com/assets/20502989/16901442/701ed550-4c76-11e6-82da-de371bba82b9.jpg)

[2016-07-18 05:39] ThreepE0 commented on #16
I'm having the same issue, same exact error message.  I'll keep an eye out for a fix.  Hope you had a great vacation, thanks for the work on the add-in.

Update: I changed Dogbone.py line 28 from ' self.circStr = "cutter" ' to ' self.circStr = "0.25 in" ' and the issue resolved.  Looks like the default value of "cutter" was throwing things off

[2016-07-18 06:22] ThreepE0 commented on #18
open Dogbone.py.  line 28 has a default value of "cutter."  change it to something like "0.25 in" and you should be good to go.

before:
self.circStr = "cutter"
after:
self.circStr = "0.25 in"

worked for me.  hope this helps.

[2016-07-18 06:51] ThreepE0 commented on #18
I noticed there were a few issues opened for this same thing, so I created a pull request

[2016-07-21 18:02] LinWan3086 commented on #17
Changing Line 28 in the .py was the fix for me.  :)
(Line 197 does not look the same with me though, so I left it alone)

But I noticed that in the "tool diameter box" I cannot add a user parameter, even though a video here (https://www.youtube.com/watch?v=EM13Dz4Mqnc&feature=youtu.be) claims that it did work in a earlier version.

[2016-07-21 20:37] yeowooh commented on #18
solved........thank you very much

[2016-07-21 20:42] yeowooh commented on #18
just for the info for those newbies like me.
To change the value for the cutter , you will need to change it from the debug menu.

[2016-07-27 21:53] UncleGravity commented on #18
@OceansCrashing I set self.circStr = "0" and it fixed the first issue.  So it loads the dialog without the traceback, thanks for the tip.

Not sure if this happens to anyone else but if I try to run the script on a simple test figure, it fails.

First image is when I click on the solid body:
<img width="1085" alt="screen shot 2016-07-27 at 5 20 54 pm" src="https://cloud.githubusercontent.com/asset

[2016-07-28 00:41] UncleGravity commented on #18
Nevermind, I had the axes wrong.  I always thought "top" was the z axis.  Guess I was wrong.  Cheers.

[2016-08-12 00:47] jbold commented on #18
The above fix isn't working for me. Still getting multiple traceback errors:
![screen shot 2016-08-11 at 7 46 36 pm](https://cloud.githubusercontent.com/assets/374123/17609620/6458ca48-5ffc-11e6-906b-dc04df2d8301.png)

[2016-08-12 01:29] jbold commented on #18
Found a workaround - this older version doesn't have the bug - https://github.com/tapnair/Dogbone. I can only select edges though, and have to use a numerical tool diameter ex "0.375" vs the param "cutter"

[2016-08-19 03:30] SimonAmpleman opened #20 "Face Threshold"
Hello,

I've tried the last version and I thought it would be useful with the face selection to have an optional depth value in the Dogbone toolbox. If the depth value is set (not zero), each edges are verified against this value to include them or not in the process. I've attached the modified script that allows this feature if you think it is also useful.

At the same time, I added some validati

[2016-10-17 08:48] markus2701 opened #21 "Error Info"
![fusion360_error](https://cloud.githubusercontent.com/assets/6629158/19431073/333ddf9a-9457-11e6-97c2-a4c68c0ad80b.png)

Fusion Version: 2.0.2455

[2016-11-04 09:49] donkey-hacket commented on #21
Same

[2016-11-11 18:51] tbbooher commented on #12
I'm coming back into my projects, curious if there has been any update for this. Thanks.

[2016-11-26 21:47] tjohnson250 commented on #21
Same here as well. Running on Mac OS X (10.11.6)

[2016-12-04 08:24] heartscrymusic commented on #21
Change line:28 in Dogbone.py

From
`        self.circStr = "cutter"
`
To
`        self.circStr = "0"
`

I know I should submit a patch. I'm just not setup for that at the moment.

[2017-02-21 08:37] ThreepE0 commented on #21
there's been a pull request open on this for a while now

[2017-02-21 18:45] caseycrogers commented on #21
Hey guys, I'm very sorry I've been so inactive. I merged the PR.

@OceansCrashing I've added you as a collaborator for the repo - you are welcome to manage it as you see fit. My priorities have shifted a lot since I wrote this script so I won't be able to effectively manage the repo myself.

[2017-02-21 18:46] ThreepE0 commented on #21
Excellent thanks very much!

On Feb 21, 2017, at 1:45 PM, caseycrogers <notifications@github.com> wrote:

Hey guys, I'm very sorry I've been so inactive. I merged the PR.

@OceansCrashing <https://github.com/OceansCrashing> I've added you as a
collaborator for the repo - you are welcome to manage it as you see fit. My
priorities have shifted a lot since I wrote this script so I won't be able
to ef

[2017-03-15 21:03] chmedly opened #22 "Doesn't work correctly with tabs that aren't the full thickness of the material."

[2017-03-15 21:10] chmedly commented on #22
Did I just hit enter accidentally? ;)

Anyway, I'm finding that more often than not the circle gets drawn on the wrong side of one of the lines.  I've been correcting this by editing the sketch and simply mirroring the circle to the opposite of the "protruding line" but this takes time AND, the resulting fillet doesn't actually go all the way through the material.  If I were milling with some kind

[2017-03-23 00:18] polygonfuture opened #23 "Runtime Error: 3 invalid profile(s) for extrude feature"
Hi all,

I'm having an issue with using dogbones on a project.   I am trying to use it at the component stage.  I've already laid out  my material but realized, I need to add dogbone after the fact.

It is not working at all.

Here is a screen cap of my error:

![dogboe_problem](https://cloud.githubusercontent.com/assets/12026545/24226408/60cede04-0f23-11e7-9b2d-2a98ec05eb8b.PNG)

![problem_piece]

[2017-05-21 19:14] cweber9843 commented on #22
Not a fix for the wrong side of the circles, but a possible fix for being able to mill from one side: If you edit the extrude created by the dogbone plugin, you can choose to make it e.g. symmetric, so it will cut through the whole material.
![image](https://cloud.githubusercontent.com/assets/27760408/26286613/cb0db6b2-3e69-11e7-98da-30eccb344c77.png)
But I would also like to have the circles plac

[2017-09-04 01:37] tarchive opened #24 "RuntimeError: 3 this is not a parametric design"
Windows 10 PC .

Open Fusion 360.
Insert>Insert Mesh>pick any Thingiverse STL.
Right click Document settings>Do Not Capture Design History>Continue.
Modify>Mesh>Mesh to BRep> select mesh body > OK.
Go to Patch>Modify>Merge>Select Chain>select top face>OK.
Go to Model>DOGBONE> set tool diameter > select any interior edges or faces > use any settings > OK > Error.

![error 3](https://user-images.git

[2017-09-25 11:56] prosoftJit commented on #24
Looking at the code, I discovered that this error happens if you're not capturing design history (Do Not Capture Design History)
Dogbone.py line 176 is "startIndex = self.design.timeline.markerPosition" <- error

[2017-09-30 14:28] tarchive commented on #24
Thanks for contributing! Unfortunately you just reworded and "discovered" something in this error message that would be obvious to someone with any coding or debug knowledge. I am not trying to discourage you from helping but i am just disconcerted because i thought i had provided a clear and simplified submission.

I do not have programming knowledge in python, nor do i care to learn, but with my

[2017-12-11 15:52] dameronw opened #26 "Latest Version Won't Work"
I've been using previous versions of Dogbone for ages, and it's worked great (for the most part), but after I updated it thinks for a while, and then the program ends, and nothing has changed to the selected geometry. An item is in the undo section, but no dogbones have been created. Anyone else having any issues?

I've tried deleting and reinstalling.

Any help would be greatly appreciated, as I

[2017-12-11 16:02] dameronw commented on #26
Ok, I've found that if I right click on the feature created in the timeline, edit feature, then it brings up the correct 'cut' - OK, and it cuts out all the dogbones. So it seems to create the correct 'sketch' geometry, or base features used for the cut, but then somehow fails on the 'cut' feature. Anyone else having this?

[2017-12-11 18:22] DVE2000 commented on #26
Can you export something that has this issue and point me to a download? I can check on it tonight.

[2017-12-11 18:23] DVE2000 commented on #26
And did you use the non-parameterized version?

[2017-12-12 13:02] dameronw commented on #26
I'm not all that familiar with GitHub, but I'll work on uploading something as an example.

Also, I tried both checking and unchecking the 'output unconstrained geometry' box - mostly I use the box checked ie. the faster, non-parametric way.

[2017-12-12 13:32] DVE2000 commented on #26
Email it to dve2000.2000@gmail.com. I can see if it happens for me and try debug it at least.

And yeah, I'd leave that box checked. The only reason I asked is that slightly different code paths are used depending on that checkbox.

[2017-12-12 13:35] DVE2000 commented on #26
Also, if you want to get back to the last version that Casey released (before I started adding features), you get get it here: https://github.com/caseycrogers/Dogbone/tree/90d171379c6da3375892f04994729dbf12012637

[2017-12-12 14:33] dameronw commented on #26
I re installed the older version of dogbone, and it seems to be working
fine on the design I sent over, albeit with its normal quirks.

If I could have my wishlist of changes to the add in it would be:

Selection filters

   - Currently all versions of the add in, when you select the body you
   wish to dogbone, it finds ALL of the 'up' edges, including edges such as
   where a curved face transit

[2017-12-12 15:27] DVE2000 commented on #26
Those are good ideas, Will. I'd be happy to work on them, but my biggest issue is time. And I'm a Fusion and Python noob. I will say that for selections, at the moment, you can select all the edges you want first, and THEN run Dogbone. That should help make selections much easier. Because you can set the selection filters and priorities to choose only edges and select through the body as well. I t

[2017-12-12 20:33] DVE2000 commented on #26
Ok Will, the bug was introduced in the version that added which allows you to choose ANY direction as up. I still need to track down why the extrudes actually don't happen. But meanwhile, if you use the previous working version, which still has the Y-Up option, you'll be fine: https://github.com/caseycrogers/Dogbone/tree/39c557b3e1c7ac64a05ba5f51b60dfc1b2402305

The above version won't remember yo

[2017-12-12 21:18] dameronw commented on #26
Holy cow. I never tried selecting my edges first, then starting dogbone.
That would have made my life so much easier, for quite a few drawings now.
My life just got better - thanks! It's funny how the slightest change in
workflow in Fusion can make such a huge difference.

Also, thanks for working on those ideas - I know what you mean about time.
If I had the time, I'd love to try to learn to do i

[2017-12-13 04:24] DVE2000 commented on #26
I found the issue. I'd added an feature to limit the dogbones to selected bodies or bodies of selected edges. This was because another user had an assembly and started getting dogbone holes being cut into bodies touching the body where the dogbones where actually being created. For some unknown reason, this prevented the dogbones from being cut on your design. I stepped through the code with the d

[2017-12-13 04:24] #26 closed

[2017-12-13 18:49] dameronw commented on #26
Thanks, that is absolutely awesome:)

On Tue, Dec 12, 2017 at 8:24 PM, DVE2000 <notifications@github.com> wrote:

[2017-12-20 14:59] DVE2000 commented on #6
I believe that being able to specify the minimum and maximum allowed angle for edges in a selected body fixes this. To actually cut a doggone in a highly acute angle, you'd probably have to add an extra radius or take care of it manually.

[2017-12-20 14:59] #6 closed

[2018-02-18 20:19] tswebb71 opened #27 "runtime error"
I downloaded the latest version of Dogbone addin a few weeks ago and it ran great.  However, now, I am getting a runtime error on startup and can't get it to run at all.  HELP!

[2018-02-19 00:35] DVE2000 commented on #27
Maybe something got corrupted? You can try delete it and start Fusion. If that’s ok, re-install it and hit Shift-S, click add-ins in the dialog and click run. If it has an error, make sure the circle isn’t spinning (hit stop if it is) and click the down arrow next to “run” and choose Debug. Spyder will come up. See if it says anything. Click the continue button (could be twice, can’t remember) and

[2018-02-19 02:21] tswebb71 commented on #27
I tired that to no avail.  Here is the error I get.  It shuts down the add-in every time.  Like I said, it worked for several weeks, then out of the blue, I get this error.

<img width="520" alt="screen shot 2018-02-18 at 8 19 09 pm" src="https://user-images.githubusercontent.com/36607715/36360397-28c8ee6a-14e9-11e8-8308-340a0b4e55e1.png">

[2018-02-19 02:56] tswebb71 commented on #27
Got it.  reinstalled it for about the 4th time and it worked.  No idea what I did.  LOL

[2018-02-19 02:56] #27 closed

[2018-02-19 03:12] DVE2000 commented on #27
Hmm. From that traceback, the resource for the button wasn’t found. That’s the picture used for the Dogbone button. It’s in a directory called Resources in the Dogbone dir.

[2018-02-22 23:18] roontoon opened #28 "Error on running"
New to this script. Just downloaded the zip and installed. Getting error in graphic.
![dogboneerror](https://user-images.githubusercontent.com/874090/36569688-be17c03e-17fc-11e8-84f9-91eaa10fca3c.jpg)

[2018-02-22 23:56] DVE2000 commented on #28
Interesting. Apparently you don't have write permissions in your own home folder. You may want to use Finder or terminal to see why that happens. I put the file write in a simple exception handler and pushed a new version to github for you. The defaults write will fail silently for you, but at least you'll be able to run dogbone.

[2018-02-22 23:56] #28 closed

[2018-02-23 00:03] roontoon commented on #28
Not sure where the file is. In terms of writing to my own home folder, I have no issues with that other than this script. Do you have a more specific location that I can look into? Thanks.

[2018-02-23 00:42] roontoon commented on #28
Everything with in API was writeable by me plus I changed everybody to read/write and included all enclosed files and folders. Same behavior. Not sure where you put the new zip file.
![dogbone2](https://user-images.githubusercontent.com/874090/36572148-301635e8-1808-11e8-92d5-a63c5b685a0f.jpg)

[2018-02-23 00:47] DVE2000 commented on #28
Look at at the last line of the traceback you posted. It said there was a permission error writing the defaults file. Very weird. And it shows the path to your Dogbone folder. You can just copy the new Dogbone.py file into that folder. Worst case, it won’t remember your last setting. I have no idea why there would be a permissions error.

[2018-02-23 01:58] roontoon commented on #28
I originally was having an issue with apparently another version of dogbone. I found your github and downloaded the current version and then started this thread. I can get the new version to run but it does not build the dogbone. In the attached video you will see dogbones that were made by the previous version and what happens when I try just one.
[dogbone.mp4.zip](https://github.com/caseycrogers

[2018-02-23 02:39] DVE2000 commented on #28
Wonderful. :( Do you see a folded timeline at the end for the dogbone? Do you have a dogbone sketch created at least? You could also try unselecting the "Unconstrained" option. It uses a slightly different code path.

[2018-02-23 02:46] roontoon commented on #28
Just did it.... Nope.
[dogbone2.mp4.zip](https://github.com/caseycrogers/Dogbone/files/1750299/dogbone2.mp4.zip)

[2018-02-23 02:58] roontoon commented on #28
Don't know if this will help you but here is a link to the file that I am using dogbone on. Please excuse any stupid newbie mistakes. Just learning Fusion360.  http://a360.co/2sKXEgf

[2018-02-23 15:13] DVE2000 commented on #28
Could you please attach an exported archive of that here? The autodesk site is emailing me links for .dms files, when I'm selecting fusion 360 archives.

[2018-02-23 16:52] roontoon commented on #28
There you go. Thanks for the help on this.
[DogboneProblem.zip](https://github.com/caseycrogers/Dogbone/files/1752406/DogboneProblem.zip)

[2018-02-24 02:14] DVE2000 commented on #28
I selected one edge, and tried to create a dogbone on it, with the "Output Unconstrained Geometry" selected. There's something strange with the underlying sketch. If you look at the timeline, you'll see a dogbone circle was created, but the extrusion wasn't. I turned on the lightbulb for the dogbone sketch, selected the circle, and then tried to extrude. This is what happened:
<img width="1245" al

[2018-02-24 02:15] roontoon commented on #28
Well, I got it working sorta. I deleted all previous attempts at creating dogbones and tried again. Selecting individual parts as bodies at first and that went well until I started selecting drawer sides and backs. It would always throw an error. I then started selecting the individual edges that needed dogbones on one end of the piece and found out that I was getting a consistent error when selec

[2018-02-24 02:16] DVE2000 commented on #28
I'm glad you got something working. There's definitely an issue with having to have cuts of different heights. I tried to come up with a solution for that, and Fusion started crapping out on me.

[2018-02-26 18:11] caseycrogers commented on #28
As a note on the "Capture Position" error:
In Fusion when you have a component it can be dragged freely in 3D space. Try clicking and dragging on a component and you'll see it moves. When it moves from its original position, Fusion won't let you perform any more operations until you either:
A) save the new position or
B) revert to the initial position
Generally, if you're not intending for a compo

[2018-03-09 16:51] jinschoi commented on #23
I had this same issue when I'm trying to use components to lay out parts for a chair. The Up Plane does not lie parallel to any of the world planes. I tried aligning the body within the component to the component's origin, but that still gives the error when trying to apply the dogbone at the end of the history; it looks like the dogbone add in only respects the world origin. I was able to resolve

[2018-03-11 16:09] jinschoi opened #29 "Incorrect dogbone direction on multi-depth model corners"
I'm trying to dogbone a pocket corner, and the add in is putting the dogbone at the wrong angle:

<img width="369" alt="screen shot 2018-03-11 at 12 02 17 pm" src="https://user-images.githubusercontent.com/938840/37255547-68dab236-2524-11e8-9f0e-008af1b57b28.png">

I can go in and fix this by adjusting the angle in the sketch created when generating parameterized dogbones. Here's what it should lo

[2018-03-12 01:47] DVE2000 commented on #29
Funny things happen with non-full height edges.  I don’t have time to look it at right now, unfortunately.

[2018-04-14 22:22] DrProv commented on #18
Hi,  I just had the same issue after installing DogBone.

UncleGravity above had the correct fix for me.  It was user error in not selecting the correct axis.

UncleGravity said:
Nevermind, I had the axes wrong. I always thought "top" was the z axis. Guess I was wrong. Cheers.

Thanks so much for this solution.  This was my first time using the addin and looks awesome.

[2018-05-09 23:03] CptanPanic opened #30 "Error trying to create first dogbone"
So I click on a body that is rotated so that all the edges that need dogbones are heading up towards z, and I get this error.  I also tried selecting the edge manually.

![image](https://user-images.githubusercontent.com/4087170/39843919-7682750c-53bb-11e8-8b25-41ebd76d930a.png)

[2018-05-10 18:17] DVE2000 commented on #30
That's interesting. It seems to be caused by the progress dialog trying to be created. I love the buginess of Fusion360. Only thing I can think of to help is for you to comment out all the lines with "progressDialog" using a pound sign (#) at the beginning of the line. This would be in the Dogbone.py file. And then stop and re-start the add-in if Fusion is already running.

[2018-05-10 18:19] marvingreenberg commented on #30
Jeez.  You should try writing a plugin for Sketchup sometime. 😉

[2018-05-10 18:28] DVE2000 commented on #30
😂😂😂😂

[2018-05-20 22:47] CptanPanic commented on #30
Looks like I just had the dogbone in the wrong direction as I had it as the default in the z axis, but was really in the y axis.

[2018-05-21 02:34] #30 closed

[2018-07-11 13:42] knickels commented on #22
I'm seeing this same behavior even on full-thickness tabs.  There is a sliver of material left on one edge.  If that edge happens to be on the profile you select for CAM, it cuts a square hole!

I had to set the extrude extent to "all" rather than "distance" to get the doggone to go all the way through the material.

[2018-08-15 23:51] roontoon opened #31 "Runtime error 3 at startup of the script"
Get this runtime error at startup of the script. Was working. Have updated Fusion a number times so no help there.

<img width="516" alt="error" src="https://user-images.githubusercontent.com/874090/44179370-77475d80-a0c4-11e8-8024-884d540e9120.png">

[2018-08-17 23:49] DVE2000 commented on #31
Looks like something happened to the Resources folder? But that path of yours looks wrong. Dogbone.py should be in ..../API/Dogbone/Dogbone.py. Not the Scripts directory. And the resources folder should be in ..../API/Dogbone/Resources.

[2018-08-27 21:34] roontoon commented on #31
Thanks

[2018-08-27 21:36] roontoon opened #32 "Dogbone works on one panel but not selected others."
Not sure what the issue is but I select all parts that are on one piece of plywood but several do not apply doggone. See pic.
<img width="668" alt="dogbone" src="https://user-images.githubusercontent.com/874090/44687665-c922a880-aa1f-11e8-9a2d-81bc07380062.png">

[2018-08-27 21:53] DVE2000 commented on #32
It can be buggy. I’ve been helping someone with a new version.

 Have you tried with and without parameterization? What happens if you just select an edge of one of these mortises that don’t get dogbones?

[2018-08-28 20:12] roontoon commented on #32
Selected only the four vertical edges of the pic above and nada.
<img width="1021" alt="dogbone2" src="https://user-images.githubusercontent.com/874090/44748202-2df00880-aadd-11e8-9154-ccc092ae15cc.png">
<img width="658" alt="dogbone3" src="https://user-images.githubusercontent.com/874090/44748213-32b4bc80-aadd-11e8-8553-5cc80700c724.png">

[2018-08-30 22:41] roontoon commented on #32
Any thoughts on how to solve this?

[2018-08-31 14:05] DVE2000 commented on #32
Sorry, been busy. Are the sketches created? You'd have to click the lightbulb to see. You could try increase the angles, but that shouldn't matter. Unconstrainted vs constrained? Otherwise you'll have to let me run the debugger with your design.

[2018-09-26 13:00] pludikar commented on #32
@roontoon

version 2 of dogbone has been released.  This should have resolved this issue (among others).  Please download/pull the new version and let us know how it goes.

Peter

[2018-09-26 13:00] #32 closed

[2018-09-26 13:02] #31 closed

[2018-09-26 13:04] pludikar commented on #29
@jinschoi

Try downloading/pulling the new version - new version should have resolved this issue.  Let us know how you get on.

Peter

[2018-09-26 13:04] #29 closed

[2018-09-26 13:07] pludikar commented on #22
@cweber9843 @chmedly @knickels
Try downloading/pulling the new version - new version should have resolved this issue.  Let us know how you get on.

Peter

[2018-09-26 13:07] #22 closed

[2018-09-26 13:09] pludikar commented on #24
@tarchive @prosoftJit

Try downloading/pulling the new version - new version should have resolved this issue.  Let us know how you get on.

Peter

[2018-09-26 13:09] #24 closed

[2018-09-26 13:11] pludikar commented on #23
@polygonfuture @jinschoi

Try downloading/pulling the new version - new version should have resolved this issue.  Let us know how you get on.

Peter

[2018-09-26 13:11] #23 closed

[2018-09-26 13:11] #8 closed

[2018-09-26 13:11] #9 closed

[2018-09-26 13:11] #11 closed

[2018-09-26 13:11] #12 closed

[2018-09-26 13:11] #13 closed

[2018-09-26 13:11] #16 closed

[2018-09-26 13:11] #17 closed

[2018-09-26 13:11] #18 closed

[2018-09-26 13:11] #20 closed

[2018-09-26 13:11] #21 closed

[2018-10-07 03:33] JamieJEB commented on #8
I have problems as well.  I can't ever get it to work when I select the entire body.  But I can't get all the internal edges to work when I do each one individually.  Some work, but others say "no intersecting target body was found".  Is there something i'm doing wrong?  I'm on a mac, is that an issue?

[2018-10-07 04:16] pludikar commented on #8
Hi @JamieJEB

Oops! Sorry we haven't implemented select whole bodies/components yet.  We'll try to do that in the next release.  The issue is that by selecting the whole body, there's no obvious way to discover which way is up.

Could you share your model on Fusion (you can PM me) , or save your model as an f3d (file|export in f360) then post it here.  The app will only recognise edges if they are

[2018-11-07 05:45] JamieJEB commented on #8
Peter, thank you so much for replying.  Uploaded the f3d file.

When you mention mirror, I do use that when i create these things.

So, I create the sketches, then create bodies, then create components and lay them out so I can cut them on my cnc machine.  Then I try and create the dogbones.

I was unable to do anything with the logging.  I don't have that option in the settings deal.
[Emma Table

[2018-11-08 00:11] pludikar commented on #8
Hi,

I suspect that Fusion 360 has been updated and it's broken the parametric side of the dogbone app.

If you don't have a dialog box similar to this (below), then you also don't have the right version.  By opening up the settings tab, you will also get access to the debugging log setting.

[cid:79e539c2-658e-4411-90b5-68a2abacc6dd]

I will take a deeper look at the parametric issue, but it will

[2018-11-08 00:31] JamieJEB commented on #8
Thanks Peter, I don't think your picture is showing up.  I don't understand the difference between parametric dogbones and static.  I've only been using fusion for about 6 months.  I must be missing something here :)

[2018-11-08 00:32] JamieJEB commented on #8
do you mean the right version of the dogbone addon?

[2018-11-11 20:55] pludikar commented on #8
Hi,

Did you receive any emails after our last exchange?  I did respond, but I have a feeling that my email screwed up the response address.

Peter

[2018-11-11 21:00] pludikar commented on #8
Hi @JamieJEB,

In case this is a resend - I apologise.

I had a slightly deeper look at your model, and it's definitely a Fusion 360 bug.

Try placing a hole on any of the components: select a face and then select extents|to and click on the opposing face.  It will throw an error - and that's F360!!

The screencast (here) shows a hole selection on the midshelf towards the end of the model construc

[2018-11-11 21:05] DVE2000 commented on #8
I did not. I sent you something last Wednesday, but figured you were busy skiing or skydiving or something. 🙂

[2018-11-14 14:30] SteveEasley opened #33 "Thank developers for the awesome 2.0 update"
TODO: Thank developers for the awesome update. Version 2.0 works so much better now. 💯

Oh you can mark this resolved :)

[2018-11-14 19:26] DVE2000 commented on #33
Thanks! Peter is the genius behind this. I worked a lot on modifying his selection mechanism...

[2018-11-14 21:36] raptordemon opened #34 "error when clicking dogbone button"
![dogbone error](https://user-images.githubusercontent.com/2067745/48513985-4db8e200-e82b-11e8-9b64-f9a7138785f4.PNG)
Hi i am getting the following error when clicking the dogbone button.

i have tried reinstalling dogbone. i am using fusion 360 2.0.4860

im not sure where to start debugging!

thanks
Raptor

[2018-11-14 22:37] pludikar commented on #34
Hi @raptordemon

Looks like something has corrupted a variable called self.circStr, and unfortunately the error you sent isn't totally explicit on what's going on.  So I'm going try an experienced guess.

1. Could you open a file explorer and go to %AppData%\Roaming\Autodesk\Autodesk Fusion 360\API\AddIns
2. If the directory contains a file called default.dat - please delete it and run Dogbone aga

[2018-11-15 14:07] raptordemon commented on #34
that fixed it! thanks so much, this tool is awesome!!

[2018-12-08 20:44] yurtkuran commented on #34
Hello...having the similar issue. Receive the following error message when creating the dogbone. I'm running version 2.0.5103. Any help is greatly appreciated. Thanks!

![image](https://user-images.githubusercontent.com/9701952/49690496-03601380-fb00-11e8-9ce4-69c3cdf40c1c.png)

[2018-12-08 23:14] pludikar commented on #34
Hi Erol,

It looks like you are using the parametric mode - f360 has a heap load of issues  creating holes in anything other than simple components.  If you are trying to make a dogbone on a component that is a copy , then try making the dogbone(s) on the original component (ie the component with :1 at the end of the name - it’ll be the earliest version in the timeline).

If that fails, please try

[2019-01-17 16:17] Marmess opened #35 "issue"
Hi,
I am having this error.
Any idea how to debug this?
Thanks!
M

<img width="403" alt="screen shot 2019-01-17 at 11 12 12 am" src="https://user-images.githubusercontent.com/46789941/51332207-4ab7b900-1a49-11e9-8ca9-63807ea05e51.png">

[2019-01-18 01:45] pludikar commented on #35
Hi @Marmess

You need to have history activated.  Click on the topmost item in the design browser.  You’ll find the choice to activate/deactivate history at the bottom of the drop down.

Get back to us if that didn’t work.

Peter

[2019-01-18 02:54] Marmess commented on #35
Deat Peter,
Thanks for your answer.
But it looks like my history is activated looking at this preference.
M

[2019-01-18 04:12] pludikar commented on #35
Hi @Marmess

I can get the exact same error message if my history timeline is turned off.  To confirm that you have history timeline activated: You should see playback buttons at the bottom left of your f360 screen, and there should be a series of timeline events shown to the right of the playback buttons. There should also be a grey bar along the bottom with a setup gear icon on the right.  When

[2019-01-18 04:32] Marmess commented on #35
A thousand times thanks for this! Really awesome!
All the best,
M

[2019-01-20 18:36] buikpijn opened #36 "Applying dogbones to multiple faces fails when that body has been duplicated with a lineair patern"
I use fusion360 to make parametric furniture and use a tool to lay out the parts for CNC cutting (nesting). If multiple faces are selected from different bodies that are multiplied using a lineair pattern the dogbones are only applied to the first face that has been selected.  And another issue is that the dogbones won't work properly in parametric mode on mirrored parts. It throws an error screen

[2019-01-20 21:41] DVE2000 commented on #36
Peter will probably have more to comment. But I'm wondering how you select the faces for different bodies? At the moment, block select does not work. You need to select faces by clicking on them. Peter has started a fix, but I need to find some time to work on it.

There are definitely some bugs in the Fusion API with parametric mode and mirrored parts, and as you've discovered you need to make th

[2019-01-21 02:38] pludikar commented on #36
Hi @buikpijn,
When you pattern, do you pattern bodies or components?  The dogbone add-in will work consistently with components and not bodies.  Unfortunately, AD/F360 has made their internal workings unnecessarily complicated (IMHO), particularly when dealing with components and bodies - so to avoid making the add-in overly complex we made the add-in ONLY deal with one body in a component, and al

[2019-01-21 13:32] buikpijn commented on #36
Thanks for the comments and suggestions. With the original version (that didn't had any parametric) I made the dogbones in the final step. (every single time parameters changed, I nested the part and added dogbones) this way (with the bones added before the nesting, being parametric) it works even easier. (call it blindness by habbits, elephant paths)..

I have something else now. When creating a

[2019-01-21 22:25] pludikar commented on #36
Hi @buikpijn,

Don't you like machine generated art?  Just kidding :-)  That's definitely an issue I have to look at - not sure exactly why it's doing that.

The issue with David Liu/Patrick Rainsberry/Casey Rodger's implementation is that it was very limiting.  As soon as you attempt to make dogbones for the whole body on anything other than root level bodies it would inevitably throw an error.

[2019-01-21 23:26] pludikar commented on #36
Hi @buikpijn

I've just found the issue and there's a new version in the Git repository.  It's not been tested by anyone other me  - if you are willing to try it out - You just need to download the new dogbone.py file [here](https://github.com/DVE2000/Dogbone/blob/master/Dogbone.py) and replace the file of the same name in the API directory (all other files remain the same).

Obviously you will be

[2019-01-22 07:03] buikpijn commented on #36
Thanks for the comment Peter, (and the support)! I understand where you're coming from. I still have issues with the Cloud-services. (which is highly unreliable to say at least) Honestly; i couldn't have started my business without them, so i'm pretty happy with their features (cad/cam) and the start-up program they provide :).

If i can be of any service in the hole-department. There are also som

[2019-01-22 13:49] pludikar commented on #36
Hi @buikpijn

Sorry about that - I was a little too exuberant about changing "On Long side" to "Along Longest".  In the process I accidentally changed an identifier, which stopped the choice being recognised.  I've updated the file - It should work now.

BTW If you have an exactly square mortise, the add-in can't figure out which side is longer (obviously) and the position of the dogbone will be u

[2019-01-22 14:42] DVE2000 commented on #36
The issue of square mortises probably exists in the original version that I created too. There’s no way to know.

[2019-02-08 13:39] EliaAJG opened #37 "DOGBONE FAILD FUSION 360"
Hi, this is the first time I m writing in a forum. I have a problem with the Dogbone Add-in. It keep failing and I do not understand way. I Downloaded from here : https://github.com/DVE2000/Dogbone and installed as it says.
Here is some screenshot.
Do anyone knows the reason?;-)
![faild](https://user-images.githubusercontent.com/47451962/52481594-392c8180-2baf-11e9-8f32-42051b087cc0.JPG)
![capture

[2019-02-08 16:52] pludikar commented on #37
Hi @EliaAJG

The reason for this, almost certainly, is that you need to have history enabled in F360.  See [here](https://github.com/DVE2000/Dogbone/issues/35) for a thread where the same issue was reported.  Let us know if that helps.  We'll be happy to help further if there are still problems or issues.

Regards
Peter

[2019-02-10 00:37] pludikar commented on #37
Hi @EliaAJG ,

Just so you know - I've added a check into the code to ensure that you are in Parametric mode.  You can install the latest file - but you will need to install manually.

1.  Get zip file by clicking green button  labelled "Clone or Download" on Github main code page [here](https://github.com/DVE2000/Dogbone), then
2. click on 'Download Zip'.
3.  Follow instructions [here](https://gi

[2019-02-10 00:48] #34 closed

[2019-02-10 00:48] #35 closed

[2019-02-12 03:18] pludikar commented on #36
Hi @buikpijn

I've figured out a work around for the parametric mode mirror problem - and I think I've fixed it.  Would you be willing to try it for me and see if it does solve the problem with mirrored components?  I can't guarantee that I haven't broken something else - if you find an issue could you let me know.  The latest version in the github code page is the one you will want to try.

Regar

[2019-02-12 18:59] buikpijn commented on #36
Just tested it;

when i have an original and a mirrored part, and select them both at once to do a parametric cut it finishes 1 and the mirrored part stays untouched.
now adding dogbones to that mirrored face in that situation, (where the previously described situation is still active) in non parametric mode it creates an icon in the timeline, but doesn't compute the dogbones on the mirrored part.

[2019-02-12 19:12] pludikar commented on #36
Hi Rene,
Many thanks for trying it.  It's clear to me that F360 has a bug that depends on the orientation of the part.  I had it working consistently on several test models, but today I tried it on a different model and it failed with an error.  I have more work to do - basically need to figure out what the bug is in detail (I already have a good idea) and then identify the situation in order to a

[2019-02-12 19:26] buikpijn commented on #36
Hi Peter;

Just discovered something, perhaps you'll recognise it.

When selecting two faces, only one shows the blue lines of the edges. see screenshot;

<img width="1729" alt="schermafbeelding 2019-02-12 om 20 21 59" src="https://user-images.githubusercontent.com/11356079/52662319-39f14a80-2f04-11e9-9a0f-5570f577f61b.png">

Anyway, created a model, please feel free to use it; hope you can seen t

[2019-02-12 21:44] pludikar commented on #36
Hi Rene,
I think there's an inconsistency in your model - not sure where yet.  When I first selected the three components I did get the same missing edges, but after playing around with your model just to understand how you've put everything together, the edges came up on all three bodies.  I suspect that here's a hiccup in the model's cache, but I'll investigate further.

For any component that y

[2019-02-13 06:54] buikpijn commented on #36
I'll create empty components and start from there, thanks for the tip. Greatly appreciated. (and I truly mean it)  I draw a lot in Fusion, but coming from Solidworks, building up the 'fusion' way is sometimes a bodge. Trying to do as much parametric as possible, creating parts from parametric defined planes etc, but with complex parts you want to change at the end, you'll get a kick in the nuts so

[2019-02-18 09:18] EliaAJG commented on #37
Dear Peter,

Sorry for the late answer. Thank you very much for your support, I will certainly contact you again in case of further problems.
med venlig hilsen/ kind regards

Elia Giampellegrini

architect
AJG Architects
direct +45 61 68 8 966
Nyhavn 63B, 2. Sal., 1051 Copenhagen K, Denmark
<office@aj-da.com>

Confidentiality Note: The information in this electronic mail message may be confidentia

[2019-02-18 12:16] EliaAJG commented on #37
Dear Peter,

I have just installed it and it works. Thank you again for you help and time.

med venlig hilsen/ kind regards

Elia Giampellegrini

architect
AJG Architects
direct +45 61 68 8 966
Nyhavn 63B, 2. Sal., 1051 Copenhagen K, Denmark
<office@aj-da.com>

Confidentiality Note: The information in this electronic mail message may be confidential and for use of only the named recipient.

The in

[2019-03-01 14:32] pludikar commented on #36
@buikpijn
Hi Rene.
I just want you to know that I've been trying to find a work around for the parametric issues, and I've kept hitting similar F360 bugs.  The process of creating a mirror of a body or component, introduces a significant flaw in the internal model which appears when anyone attempts to link parametric holes, among other things.  So unfortunately, until F360 actually fixes the funda

[2019-04-06 22:34] knickels opened #38 "readDefaults failing"
So it seems to be failing on startup, with reading the defaults.dat file somewhere.  This is on a mac, I used the binary installer to install.  Thanks for any pointers.

<img width="381" alt="Screen Shot 2019-04-06 at 5 32 16 PM" src="https://user-images.githubusercontent.com/4690486/55676037-1c03ee80-5892-11e9-9c74-8e7597c6629b.png">

[2019-04-06 23:01] knickels commented on #38
I had an old version of the add-in installed.  When I found the install files, removed them, and re-installed, it started working.

[2019-04-06 23:01] #38 closed

[2019-04-06 23:05] DVE2000 commented on #38
The defaults.dat file would be found in the directory that contains Dogbone.py. In your case it appears to be /Users/knickels/Library/..../Addins/Dogbone/

Try delete it if it exists and restart Dogbone. If it still fails, I’ll check to see what Peter did.

To be able to see your Library directory in Finder, you’ll have to Google. It’s not hard. Otherwise, you can access it from Terminal.

[2019-04-06 23:07] DVE2000 commented on #38
That’s because the old defaults.dat was removed when you deleted the original dir. :)

[2019-04-06 23:33] pludikar commented on #38
Hi Gary,
just so you know I have a version on Github that does a validity check on the .dat file and resets it - default-datacheck branch.  I haven't merged it yet, but I think it's ready.

Peter
________________________________
From: DVE2000 <notifications@github.com>
Sent: April 6, 2019 7:07 PM
To: DVE2000/Dogbone
Cc: Subscribed
Subject: Re: [DVE2000/Dogbone] readDefaults failing (#38)

That’s b

[2019-05-25 00:57] ksperling opened #39 "Use of user parameters for parametric dogbones breaks using plugin multiple times with different settings"
In my particular case I was trying to apply mortise dogbones to one set of components, and minimal dogbones to another. What seems to happen is that as soon as the dogbone plugin is launched again, any changes to settings cause the `db*` user parameters to be updated (this even seems happens immediately, without the need to hit "OK"), which breaks any other parameteric dogbone operations that are

[2019-05-25 14:18] ksperling opened #41 "Parametric holes lose link to reference geometry"
It seems like changing a parameter that affects the geometry that parameteric dogbones have been applied to frequently makes them lose their "link" to the geometry. E.g. if I change my `MaterialThickness` parameter from 18mm to 19mm about half or more of my dogbones holes disappear. I'm using parametric minimal dogbones.

I've been manually experimenting with a hybrid between the static and parame

[2019-05-25 16:48] pludikar commented on #39
HI Karsten,
I've just arrived back from a trip, and my head's still operating 6hrs behind what it got used to.

Unfortunately F360 has a bunch of issues around parametric design - it's not caused by the dogbone app.  Once the app has finished placing the dogbones, it's not involved any more.  I've often found that changing the thickness of, say, a board that make up the sides of a cabinet - I then

[2019-05-25 20:09] pludikar commented on #41
Hi Karsten,
Just to add to the response I left on the other thread - most F360 features incur a significant processing overhead due to internal checks, calculations and knock on effects.  Most of the time this isn't too critical when writing a script, but it becomes noticeable when an addon, such as this dogbone, starts sifting through many edges, faces, bodies etc in order to find the appropriate

[2019-05-27 10:45] ksperling commented on #39
Hi Peter,

thanks for the quick response. At the moment I'm only dealing with a much smaller number of dogbones (10s rather than 100s) so the performance isn't as much of a problem for me. I've opened a PR with my fix if you're interested. Is there a github branch that has this improved refreshable static mode that you're talking about?

Thanks, Karsten

[2019-05-27 13:54] pludikar commented on #39
Hi Karsten,
Most users will rarely get into the 100s of dogbones, but you do start seeing performance issues even at 10-20 dogbones.  At this number the new version will create the dogbones almost instantly.  If you are interested you can find the branch [here](https://github.com/DVE2000/Dogbone/tree/restore-selection-onCreate).  Be aware, though, it is a work in progress and should be regarded as

[2019-06-05 07:15] romlel opened #42 "Allowing some tolerance for "almost acute angles")"
Hello
Your addin save my life evey day, I use it all the time for CNC wood jointery ! Thanks a lot.

Recently, I extruded some shapes to cut and I used Dogbone to make it machinable, but because the shapes came from an approximate vector graphics source, with lots of polyline and no real splines, I have some extra points on lines that are slightly misaligned and cause some angles around 179~180 de

[2019-06-05 12:03] pludikar commented on #42
Hi,

Thanks for your comments - really pleased that the addin has been useful to you.

I’m actually working on a new version of the addin that not only adds the tolerance, but also will cut appropriate dogbones into acute and obtuse angles.  The basic mechanism has already been coded and works very nicely, but I’m also adding the ability to edit and refresh any dogbones that have already been adde

[2019-06-05 12:35] chriscairns commented on #42
I also find your plugin extremely useful for CNC projects so many thanks for developing it!

[2019-06-06 22:03] romlel commented on #42
Thanks for the details. Very good news you continue to add features !
I'll keep my "ugly tolerance hack" in my working copy for now waiting for the next big release, and be happy to test the beta and provide tests & feedback !

Best regards

[2019-06-06 22:03] #42 closed

[2019-08-09 10:56] Dutchy-79 opened #43 "Selecting a face makes the software calculate immediately"
I want to add a few dog bones to a body and it's running for over 30 minutes now and still checking for possible edges. I don't need the software to do this automatically because it's a complex model.

Can I bypass this function somehow?

[2019-08-09 11:12] Dutchy-79 commented on #37
Got the same error while running version 2.0
I don't see a manual to install another version.

[2019-08-09 11:24] pludikar commented on #37
Hi,
Would it be possible for you to make a copy of your model available?  It’s unusual for the dogbone app to fail, unless there’s a problem with the underlying model.  As much as I like it, unfortunately F360 has tons of bugs that cause models to break easily.

A screenshot, or two of the app in action would be useful too.

I’m working on an upgraded version, that should bypass several of the f36

[2019-09-12 13:30] tiktuk commented on #33
Agree, it's impressive work, thanks everybody ☺️ !

[2019-09-12 13:51] tiktuk opened #44 "Can't find Dogbone icon?"
Hi, from where should Dogbone be run? I can't see the icon anywhere after installing and running the Addin. I only managed to run it from the command box (the one that shows up when pressing "S").

[2019-09-13 02:40] pludikar commented on #44
Hi @tiktuk,

Sorry for the delay in responding - it's been a busy day.

You'll find the addin icon under the SOLID tab at the right hand end of the CREATE panel, in the DESIGN workspace.  You'll also find the dogbone command under the CREATE pulldown at the very bottom.  I hope you find the addin useful. See here:
![image](https://user-images.githubusercontent.com/4363084/64833942-ecc67b80-d5ad-11

[2019-09-17 17:52] tiktuk commented on #44
Thank you! It is very useful indeed, thanks a lot for your work ☺️ .

Tuk

[2020-01-02 15:01] Flupke1979 commented on #43
I would also like this possibility.

[2020-01-24 10:00] FabCreator opened #45 "DogBone fail when a body contains an inner fillet/ slot"
Hi,
Just been using the dogbone addin, its very good. Saves alot of time!
However I discovered an issue when you try and dogbone an entire body, if that body contains a slot or fillet the dogbone will fail.

![image](https://user-images.githubusercontent.com/19230933/73060393-02bb4580-3e98-11ea-87ab-6188a94ecd40.png)

![image](https://user-images.githubusercontent.com/19230933/73060398-064ecc80-3e

[2020-01-25 16:23] pludikar commented on #45
Hi Bonne,

Thanks for bring this to my attention.  It seems that the fillets and slots don't behave as other edges do, so I'll have to look into that.

Unfortunately F360 "upgraded" their old spyder IDE to Visual Sudio Code a few months back, and I found a major show stopping bug in their new implementation.  I've spoken to AutoDesk and they've fast tracked the issue.  They included it in their la

[2020-04-09 15:55] basti3000 commented on #34
Worked for me as well after this error, Thanks heaps! Fantastic addin:
![2020-04-09](https://user-images.githubusercontent.com/63414027/78914776-3109f380-7a8b-11ea-85f1-b0eadba715d3.png)

[2020-04-10 16:14] davidhatten opened #46 "Dogbone fails after first edge, even in static mode"
Hello,

I have a component and I am attempting to add dogbones to it. When I add static dogbones, it incorrectly creates one dogbone and then fails on the rest. These edges were created from a "Rectangular Pattern" operation, for what it's worth. I've attached the error log. Parametric also fails, but I don't need it to be parametric at this point so I'm not worried about it.

Thanks!

Log:
[dogbo

[2020-04-10 20:44] pludikar commented on #46
Hi @davidhatten

Would you be willing to send me a copy of your design?  It's not obvious from the log what's causing the issue.

If you don't want it in the public domain, you can PM me on Fusion 360 and I'll give you my email through that medium.

Note: To create the copy - in fusion go to File then export.  Make sure you are exporting to .f3d (which is the default).

Regards
Peter

[2020-04-10 21:13] davidhatten commented on #46
Hello,

Happy to provide, and I don't mind this being in the public domain but thank you for bringing that to my attention, I'm new to CAD and wouldn't have thought of that.
[Holder Flat Pack v6.zip](https://github.com/DVE2000/Dogbone/files/4463442/Holder.Flat.Pack.v6.zip)

Let me know if you need anything else or any details about how this was made. Thanks!

[2020-04-10 21:15] davidhatten commented on #46
I just realized, that won't have the sketches used to create any of these features/bodies/components, here's the original design I copied the components from to make the flatpack, in case you need the sketches. Errors also happen in this design.

[Holder Assembled Model v10.zip](https://github.com/DVE2000/Dogbone/files/4463443/Holder.Assembled.Model.v10.zip)

[2020-04-11 01:03] pludikar commented on #46
Hi @davidhatten

I've just had a look at both your models, and they don't show the issue.  I suspect that your model had a corruption somewhere along the process.

However you should note that F360 is very fussy and models do break easily.  There are a number of best practices that would help you keep a stable model (even though that's not a guarantee!).

I would suggest

1. Create two components

[2020-04-11 13:27] davidhatten commented on #46
Wow, thanks a lot for all the tips! I'm still figuring out how to hold F360 the right way (as you can tell!) and this will really help me pivot from "just get the tool to make the thing I imagine" to "get the tool to work right". At most I was doing one of those things (the automatic mortise cutting) so I can totally see how things could get in a bad state. Thank you for the example, and I'll defi

[2020-04-11 13:27] #46 closed

[2020-05-01 13:52] acbrazzl commented on #33
I downloaded the original dogbone add-in and it wouldn't work on pockets.  This updated version worked instantly on a face of mine with 20 pockets.  You saved me a lot of time! :)

[2020-05-19 14:00] michaelh1300 opened #47 "No longer working after Fusion update"
This plugin has been amazing, and super helpful. Unfortunately, it's no longer working for me. I feel like this could have happened with the recent fusion update as I haven't changed anything, or done anything differently than in the past. I'm getting a "Failed: Traceback... RuntimeError:2:InternalValdationError..."

See photo.  Thanks in advance.

![Screen Shot 2020-05-19 at 3 54 04 PM](https://u

[2020-05-20 00:40] pludikar commented on #47
Hi @michaelh1300 ,

Sorry for the delay in responding.  It looks like you have a corrupted default file.  I should probably write a wiki because you are the second (known) person to have had this issue.  It's usually easy to fix.

- open file explorer and go to %AppData%\Roaming\Autodesk\Autodesk Fusion 360\API\AddIns

- the directory should contain a file called default.dat - please delete it and

[2020-05-20 13:30] michaelh1300 commented on #47
Amazing, that worked perfectly. Thanks, and that response was quite fast.

[2020-05-20 13:30] #47 closed

[2020-07-08 15:22] mrfugu opened #48 "Problem running Dogbone2"
Hello,

I recently 'upgraded' this from the original dogbone project (which works well enough) and am running into this error when invoking the new dogbone from within Fusion360 (MacOS):

<img width="406" alt="Screen Shot 2020-07-08 at 11 19 30 AM" src="https://user-images.githubusercontent.com/29284448/86937379-2b18c280-c10d-11ea-89be-4b46b270d180.png">

Any assistance would be greatly appreciate

[2020-07-08 19:16] pludikar commented on #48
Hi @mrfugu ,

It looks like your dogbone app is missing some resources (icon files). Try going to %appdata%\Autodesk\Autodesk Fusion 360\API\AddIns\Dogbone2\Resources  you should see a number of directories - fromFace; fromTop; hidden; minimal; normal; parametricMode and staticMode.  Each directory should then contain a number of files usually along the lines of 16x16-disabled.png.

If you don't s

[2020-07-08 19:32] mrfugu commented on #48
I have the required Resources folder, and its contents. but I see that it's case sensitive and called 'resources' in the script..

find and replace and its good to go! ..

thanks!!

[2020-07-08 19:35] pludikar commented on #48
Hi @mrfugu ,

It looks like your dogbone app is missing some resources (icon files). Try going to %appdata%\Autodesk\Autodesk Fusion 360\API\AddIns\Dogbone2\Resources  you should see a number of directories - fromFace; fromTop; hidden; minimal; normal; parametricMode and staticMode.  Each directory should then contain a number of files usually along the lines of 16x16-disabled.png.

If you don't s

[2020-07-08 19:38] pludikar commented on #48
hi @mrfugu

Glad you got it sorted.  Interesting that, for some reason, my machine isn't case sensitive, and therefore never noticed the difference between Resource and resource

Peter

[2020-07-08 19:45] pludikar commented on #48
@mrfugu

It looks like you have case sensitive directories enabled.  I believe that Windows tends to make insensitive as the default.  Anyway I'll get that fixed in the next update, so it doesn't become an issue in the future.  Thanks for finding that, sorry for the glitch.

Peter

[2020-07-08 19:48] mrfugu commented on #48
No sweat, I think its a function of Apple's (relatively new, '18-'19) AFS filesystem here. That said, I'm sure it's good practice to have all the cases match..

Love this little timesaver of ya'lls, please count my vote of encouragement for continued development!

[2020-07-08 20:47] pludikar commented on #48
I was working on the next iteration - then AD/F360 decided to change the Spyder development platform to Visual Studio Code.  In principle a better way to go - but only if it works!  Unfortunately the F360 team missed the mark and it's presently impossible to create anything more than the simplest script (no file hierarchies, as python expects).  So, until AD fixes that, I'm either stuck with a ver

[2020-07-08 21:30] mrfugu commented on #48
thanks for the status report. I'll point out that it would be reasonable to expect some form of compensation for a more complete implementation.

I know there's more than a few BOM, specialized vector types, file compatibility/conversion scripts etc. that are offered by various non-autodesk entities for sale. I don't know the particulars but I'd expect it'd make it worth its while to some degree.

[2020-08-12 12:31] beachbumpete1 opened #49 "Dogbone failure"
I have been using this app for awhile now and it always works great. However yesterday when I tried to use it on a similar part it gives a failure dialog that I cannot copy and paste here.  It says:

Failed:
Traceback (most recent call last):
File "C:/Users/etc etc
Fusion 360 /API/Addins/Dogbone\dbutils.py", line 174, in notify
notify_method(args)
File...etc
Fusion 360/API/Addins/Dogbone/Dogbone.p

[2020-08-12 12:49] pludikar commented on #49
@beachbumpete1

Hi Pete,

It looks like you’re using the addin in parametric mode.  If you try using it in static mode does it work?  Does it also work on some components of the model and not others?  Do you have any components that were created by mirroring?  Does the addin work on a fresh model created from scratch - keep it simple, eg a box with some cutouts?

If it does, it means that you’ve h

[2020-08-12 13:00] beachbumpete1 commented on #49
I am sorry I am not sure how to determine what mode I am in. I use it in the design space on a lot of my models and it always works the same way.  Now I try it on any item and it fails. I tried it on different parts. The model is basically a shutter with a mortise and tenon and I am using the dogbone to make inserting the tenon easier.  As far as mirroring parts I create the stile of the shutter u

[2020-08-12 13:13] pludikar commented on #49
Hi Pete,

To select the static mode, click on the button on the left.  Hovering your mouse over the buttons will bring up a brief description.  see below.

![Mode](https://user-images.githubusercontent.com/4363084/90019052-e1774680-dc7b-11ea-9556-58e4e389fd77.png)

Peter

[2020-08-12 13:22] beachbumpete1 commented on #49
Oh ok thank you.  I thought you meant that fusion needed to be in a particular mode. I just opened a different job and isolated a different part and selected the static mode and it seems to work.  What is the difference?  I tried it on two different parts and it works.  Perhaps that is what was wrong from the start. I never really messed with those selections perhaps I inadvertently selected param

[2020-08-12 13:30] pludikar commented on #49
@beachbumpete1

Hi Pete,

In principle, yes - if you have a model that is driven by parameters, then the dogbones will keep up with any change to those parameters.  However, parametric mode can be quite fussy, unfortunately - as I mentioned before, there are actually several bugs in F360 that AD doesn't seem to want to fix, and using parametric on any model but the simplest tends to hit these inhe

[2020-08-12 13:33] beachbumpete1 commented on #49
Indeed,  I really appreciate the assistance. I use this quite a bit on our projects.  Much appreciated. Have a great day my friend.

[2020-09-12 12:45] davidhatten opened #50 "Dogbone isn't applied to Component Body and copies until accessed through history"
This is an interesting issue that has a workaround.

I have a "template" component that I've copied 4 times. When I attempt to apply dogbones to _any_ instance of _any_ of the sub-components, the dogbone operation appears to fail silently. The operation is present in the history, and when I edit the "hole" part of the dogbone history, everything appears on the body. I modify nothing and just hit "

[2020-09-13 00:36] pludikar commented on #50
@davidhatten

Hi David,

I've experienced this issue myself, and did spend some time trying to figure out what was going on.  I think one of the problems is F360 has made their internal design far more complicated than it needs to be, and as a result, either I have misunderstood one of the programming requirements for applying holes (which I use exclusively in the dogbone add-in) to component copi

[2020-09-13 14:50] davidhatten commented on #50
Hi!

Thanks for the response, I'm glad to know it's not just me.

Oh so it's not just the external design? 😛

A "feature" to help the workaround might be to allow for multiple sketch selection when defining dogbones (which would then only require a single visit to the history to update everything), but I have no idea if that's actually feasible in-code or how complicated it would be if it is. Igno

[2020-09-13 21:01] pludikar commented on #50
@davidhatten
Hi David,

Just a thought.  One of things that you can do to save time, is apply the dogbones to the first component (whether in the template or the model itself), then make multiple copies of that, rather than adding dogbones to multiple copies of the same thing at the end.  Once you have copies, in principle, anything you do to the original will reflect into the copies, particularly

[2020-09-14 17:57] davidhatten commented on #50
That workflow did work! I'll keep that in mind  going forward, as this isn't the last time I'm going to be doing something like this. Dogboning is usually the last step, so i'll just have to wait to copy out the templates until the very end. Thankfully, every copy is the same except for one panel on the back, and I've already tested the Paste New workflow with a single-subcomponent and that all wo

[2020-09-14 22:43] #50 closed

[2020-11-20 18:24] nmk456 opened #51 "Add command to manufacturing model environment"
There's a relatively new feature in Fusion 360 called manufacturing models, where you can create a version of model that only exists in the manufacturing workspace. It's useful to simplify or modify designs so they can be manufactured, which is exactly what this plugin does. It would be nice if the dogbone command could show up in the manufacturing model workspace instead of or in addition to the

[2020-11-21 22:58] pludikar commented on #51
Hi @nmk456

Sorry for the delay in response.  I'll have a look at adding the button to the manufacturing model, I can't think it won't.  Although F360 API can be temperamental, to put it mildly.  You sometimes have to jump through hoops to get the simplest of things to work.

I don't mean to rant, but personally I dislike the way AD has implemented the manufacturing model - I'm pretty sure it was

[2020-12-24 00:10] askpatrickw opened #52 "Dogboone contour is not followed in simulation"
I'm not sure if this is an issue or maybe just a FAQ on how it works.

My Dogbone's aren't being milled when I look at them in the simulation.

![image](https://user-images.githubusercontent.com/4002194/103045192-70c22e00-457b-11eb-88af-b8ee6266d951.png)
![image](https://user-images.githubusercontent.com/4002194/103045200-76b80f00-457b-11eb-819c-458143238dff.png)

The dogbone is included in the ch

[2020-12-24 02:24] pludikar commented on #52
@askpatrickw
Hi Patrick,
I've had no issues in simulation, or when I've actually done the cut either.  However, I'm very suspicious of the light blue line that's showing in your screenshots.  It looks like it possibly comes from a sketch and the sketch may have been included in the setup for the model of your operation.  That is, if I'm not wrong (which is always possible).

If the sketch is inclu

[2020-12-24 06:29] askpatrickw commented on #52
Thanks for the quick response!  I think you're spot on!
I have a sketch with some text on that part. But another part with no sketch looks more like I'd expect.

<img width="556" alt="image" src="https://user-images.githubusercontent.com/4002194/103066684-468b6300-45b1-11eb-9ef1-2ee3d9b8b398.png">

I'll figure out how to clean it up.

Thanks again!

[2020-12-24 06:29] #52 closed

[2020-12-30 23:25] it-ony opened #53 "InternalValidationError: isExists"
After selecting the Dogbone command, I get

[code]

[2020-12-31 00:15] pludikar commented on #53
@it-ony
Hi Tony,

It's a problem with Macs and a relatively recent OS update that forces case sensitive folder names - It was an oversight at my end, sorry about that.

The easiest fix is to go to "/Users/tony/Library/Application Support/Autodesk/Autodesk Fusion 360/APl/Addlns/Dogbone"  and change the **R**esource folder name to **r**esource.  I believe all other subfolder names are capitalized co

[2021-01-23 22:05] #49 closed

[2021-01-23 22:05] #48 closed

[2021-01-23 22:07] #41 closed

[2021-01-23 22:10] #44 closed

[2021-01-23 22:49] pludikar commented on #45
Hi Bonne,
 I know it's been a year - AD and the F360 team have finally resolved the show stopping bug, and I've been able to look at your issue.  Are you still using the dogbone AddIn?  and... if yes, are you still experiencing the same issue?

Peter

[2021-01-23 23:59] #37 closed

[2021-01-24 00:00] #36 closed

[2021-01-24 00:01] #39 closed

[2021-01-24 22:48] pludikar commented on #43
Hi,,

I was just going through the issues for the Dogbone AddIn, and discovered that I hadn't been notified of this.  Apologies.  I know it's been over a year when the original issue was raised.

The way to do this is to select your top face.  You will then see all the candidate edges, and the number of dogbone edges identified in the dogbone AddIn dialog.  You can either clear all the selected ed

[2021-01-25 15:48] n-davies opened #54 "Not a parametric design"
I turned off history (before sending out a model to be cut) and running DogBone produced the error

Perhaps a simpler error message stating that Design History needs to be enable for DogBone to run would be an improvement.  Otherwise, working like a charm.

[2021-01-25 16:48] pludikar commented on #54
Hi @n-davies

That's a problem I fixed about a year ago, but I didn't update the self extracting files because I was expecting to bring out a better version of the AddIn - F360 thwarted that by dropping a significant bug into the development environment - they've only just fixed it, after a year of being persistent with them.

If you download the Dogbone.py in the github code area, and use it to r

[2021-06-10 10:31] Ashteroide opened #55 "InternalValidationError : input->evaluateStringAndUpdateUI"
I've recently downloaded this and had this issue on multiple occasions when I previously used it, regardless of mode and whenever I change to a different design I get the error:
[code]

Computer: Lenovo L13 Yoga
OS: Windows 10

Dogbone v2.0

If there are any new versions of this by someone else, please can you link it?

[2021-06-10 14:26] pludikar commented on #55
Hi @Ashteroide

at the moment I’m not 100% sure, but it looks like the file that holds the default values has been corrupted.  Go through the steps outlined [here](https://github.com/DVE2000/Dogbone/issues/47) and that will probably fix the issue.  If it doesn’t, then post back here and we’ll get to the bottom of the problem.

Peter

[2021-06-10 23:27] Ashteroide commented on #55
Hi @pludikar
I was able to delete the file, I used the Dogbone tool on a shape, then made a new design and was able to use Dogbone again. Though I have the suspicion it's to do with parameters in certain designs. Since the `Tool Diameter` (In the Dogbone menu) goes to each design, I use a custom paremeter called `toolDiameter = 6.35mm` in Fusion's parameters, and in any case where I switch design

[2021-06-11 01:06] pludikar commented on #55
Hi @Ashteroide
How do you use `toolDiameter`?  Do you try to enter it as "`toolDiameter`" into the dogbone dialog, or as a value?  Unfortunately I've not implemented the ability to accept parameter names into the dialog - although I may in the future.

One suggestion - if you are using the same `toolDiameter` value all the time, then dogbone addin will keep track of the last value of `toolDiameter

[2021-06-11 10:52] Ashteroide commented on #55
I set the parameter in Fusion360 at `toolDiameter` and then put that into the dogbone dialog. I might just stick to it creating `dbToolDia` and use that instead, I usually only used `toolDiameter` for rounding corners so the machine could handle it.

I'll make sure to set it to parametric as majority of my projects use parameters.

That much is true, I've encountered many bugs that still haven't b

[2021-09-07 01:31] ride4sun opened #56 "RuntimeError: 5 : Unable to create hole. Height was negative or zero. Modeling Error: Can't create hole toolbody, please check inputs"
I am getting this error when I run the addin on a simple model:

[code]

[2021-09-07 04:37] pludikar commented on #56
@ride4sun

it looks like you are using the dogbone app in parametric mode.  This error is typically associated with bugs in Fusion 360.  Most of the time Fusion 360 behaves itself, but unfortunately it’s not perfect.  In the past F360 had a major bug creating copies and mirrors of bodies. They seem to have fixed most of these issues but they’re not great at following up on bug reports, so I can’t

[2022-03-27 19:59] Kickjaw opened #57 "RuntimeError: 2 : InternalValidationError : face"
Failed:
Traceback (most recent call last):
  File "C:/Users/jared/AppData/Roaming/Autodesk/Autodesk Fusion 360/API/AddIns/Dogbone\dbutils.py", line 174, in notify
    notify_method(args)
  File "C:/Users/jared/AppData/Roaming/Autodesk/Autodesk Fusion 360/API/AddIns/Dogbone/Dogbone.py", line 644, in onExecute
    self.createParametricDogbones()
  File "C:/Users/jared/AppData/Roaming/Autodesk/Autode

[2022-03-27 20:31] pludikar commented on #57
Hi @Kickjaw
How critical are the parametric dogbones to your model?

If they're not essential, I would suggest that you use the static dogbone mode instead.  Unfortunately, the parametric calculations tend to be highly dependent on F360's internal model stability, and any face whose edges doesn't quite meet at all vertices (which can happen easily), or any other model mismatch, will throw a valida

[2022-03-27 20:40] Kickjaw commented on #57
Hi, thanks for the quick response.  The static creation worked no problem. I could zip you the file if you want but it is a really simple model so I was confused as to why it did not work with parametric.

This is with the static dog bones in place.

![image](https://user-images.githubusercontent.com/28658404/160300095-0d031fc9-3258-4e65-b3a3-cf1f120dee0a.png)

[2022-03-27 21:03] pludikar commented on #57
Hi @Kickjaw

I just created a similar style model and it worked in parametric for me.  To be honest, I was expecting a more complex model, but the one you showed, should work fine in parametric.

What you could try is:
add a sketch to the top face,
insert a few points,
then (outside the sketch again),
open hole dialog (press H),
select from sketch,
and select the points
select settings and click O